<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDH3FbNRv-U9Hk-GR1tzyo7rbQF9tFi7oc</string>
	<key>GCM_SENDER_ID</key>
	<string>949154650423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.washta</string>
	<key>PROJECT_ID</key>
	<string>washta-104e6</string>
	<key>STORAGE_BUCKET</key>
	<string>washta-104e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949154650423:ios:42e0b70e4b5987de0c62b2</string>
</dict>
</plist>